<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="hostAdressReception" value="127.0.0.1"/>
    <add key="receptionPort" value="85"/>
    <add key="hostAdressDestination" value="127.0.0.1"/>
    <add key="destinationPort" value="25"/>
    <add key="dataDirectory" value="C:\Users\Admin\Semestre 3\spamkiller\test"/>
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
</startup>
</configuration>
