<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hostAdressReception" value="10.8.110.127" />
    <add key="receptionPort" value="25" />
    <add key="hostAdressDestination" value="173.194.34.53" />
    <add key="destinationPort" value="25" />
  </appSettings>
</configuration>